$fontSize: 12px; // 字体大小
$fontColor: #d8d7db; // 字体颜色（标题字体）
$subFontColor: #646771; // 副标题字体
$backgorund: #252939;  // div背景颜色
$pageBackground: #1c1d2c; // 页面背景颜色
$rowHeight: 30px; // 标题的高
$adjustHeight: 110%; // 页面的高度调整