$fontSize: 12px; // 字体大小
$fontColor: rgb(100, 100, 100); // 字体颜色（标题字体）
$subFontColor: #646771; // 副标题字体
$backgorund: rgb(230, 230, 230);  // div背景颜色
$pageBackground: #ffffff; // 页面背景颜色
$rowHeight: 30px; // 标题的高
$adjustHeight: 110%; // 页面的高度调整